$grid-mobile: 481px;
$grid-tablet: 1024px;

$is-mobile: 'mobile';
$is-tablet: 'tablet';
$is-desktop: 'desktop';
$is-touch: 'touch';
$is-widescreen: 'widescreen';

$breakpoints: (
  $is-mobile '(max-width: #{$grid-mobile - 1})',
  $is-tablet '(min-width: #{$grid-mobile}) and (max-width: #{$grid-tablet - 1})',
  $is-desktop '(min-width: #{$grid-tablet})',
  $is-touch '(max-width: #{$grid-tablet - 1})',
  $is-widescreen '(min-width: #{$grid-mobile - 1})',
);

@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  margin-bottom: 20px;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway-Regular;

  &.--bold {
    font-family: Raleway-Bold;
  }
}

body {
  margin: 0;
}

body, p, a {
  font-family: Roboto-Regular;

  &.--bold {
    font-family: Roboto-Bold;
  }
}

body {
  color: black;
}

main {
  margin-top: 70px;
  padding: 36px 0;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 30px;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('/assets/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/assets/fonts/Roboto-Bold.ttf');
}

label {
  font-family: Raleway-Bold;
}

.headline {
  font-family: Raleway-Regular;
  font-size: 80px;
  letter-spacing: 0;
  line-height: 96px;

  @include media-query($is-tablet) {
    font-size: 64px;
    line-height: 74px;
  }

  @include media-query($is-mobile) {
    font-size: 40px;
    line-height: 50px;
  }

  &--two {
    font-family: Raleway-Regular;
    font-size: 64px;
    letter-spacing: 1px;
    line-height: 80px;

    @include media-query($is-tablet) {
      font-size: 48px;
      line-height: 64px;
    }

    @include media-query($is-mobile) {
      font-size: 36px;
      line-height: 46px;
    }
  }

  &--three {
    font-family: Raleway-Regular;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 64px;

    @include media-query($is-tablet) {
      font-size: 40px;
      line-height: 56px;
    }

    @include media-query($is-mobile) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  &--four {
    font-family: Raleway-Regular;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 64px;

    @include media-query($is-tablet) {
      font-size: 32px;
      line-height: 38px;
    }
    @include media-query($is-mobile) { font-size: 28px; }
  }

  &--five {
    font-family: Raleway-Regular;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 38px;

    @include media-query($is-mobile) {
      font-size: 22px;
      line-height: 32px;
    }
  }

  &--six {
    font-family: Raleway-Regular;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 24px;

    @include media-query($is-mobile) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &--bold {
    font-family: Raleway-Bold;
    font-weight: bold;
  }
}

.text {
  &--one {
    font-family: Roboto-Regular;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;

    @include media-query($is-tablet) {
      font-size: 16px;
      line-height: 28px;
    }

    @include media-query($is-mobile) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &--two {
    font-family: Roboto-Regular;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;

    @include media-query($is-mobile) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &--three {
    font-family: Roboto-Regular;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
  }

  &--four {
    font-family: Roboto-Regular;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;

    @include media-query($is-mobile) {
      font-size: 11px;
    }
  }

  &--bold { font-family: Roboto-Bold; }
}

.header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;

  &__container {
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    h1 {
      margin-bottom: 0;
    }
    color: white;
  }

  .nav {
    .nav-item {
      font-family: Raleway-Regular;
      color: white;
      display: inline-block;
      margin: 0 10px;
    }
  }
}
